.navbar {
    border-radius: 0;
    margin-bottom: 20px;
    background-color: rgb(187, 59, 59);
    .navbar-brand {
        font-weight: bolder;
        font-size: xx-large;
        color: gray;
        .light {
            font-weight: 500;
            color: black;
        }
    }



}



