
  .card {

    height: 150px;
    margin-bottom: 20px;
    .card-block {
      border-left: solid;
      border-left-color: black;
      border-top-left-radius: 5px;
      border-bottom: solid;
      border-bottom-left-radius: 5px;
      padding: 15px;
      background-color: rgb(233, 231, 231);
      .card-title {
        font-size: 2rem;
        margin-bottom: 0;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .card-text {
        font-size: 1rem;
        color: black;
      }

    }
  }



.posts.edit, .posts.new {
  .card {
    .card-block {
      background-color: rgb(201, 201, 201);
    }
    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .list-group-item {
      padding: 10px;
      border-left: 0;
      border-right: 0;
      input[type='text'], textarea {
        font-size: 14px;
        background-color: rgb(201, 201, 201);
      }
      textarea {
        height: 100px;
      }
      &:last-child {
        background-color: rgb(201, 201, 201);
      }
    }
  }
}



@media screen and (min-width: 34em) {
  .posts.index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .posts.index .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .posts.index .card {
    height: 415px;
  }
}