<div class="collapse" id="exCollapsingNavbar">
  <div class="collapse-bg p-a-1">
    <div class='card'>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= link_to 'Log-in', author_posts_path, class: "nav-link #{yield(:author)}" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<nav class="navbar navbar-light bg-faded">
  <div class='container'>
    <a class='navbar-brand' href='/'>
      Portfolio | Emily Bardwell
    </a>
    <li class="list-group-item">
      <%= link_to 'Log-in', author_posts_path, class: "nav-link #{yield(:author)}" %>
    </li>
  </div>
</nav>